extends ../layout

block content
  body
    h1 Books
    p
      a(class='button', href='/books/new') Create New Book &#43;
      include home
    form(action="/books/search", method="post")
      p
        input(type="text", placeholder="Search", name='query')
        input(type="submit", value="Search")
    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year
      tbody
        each book in books
          tr
            td
              a(href='/books/' + book.id)=book.title 
            td=book.author
            td=book.genre
            td=book.year
    form(action="/books", method="post")
      input(class="link" type="submit", value="Show All", name='link', class=showAll ? "selected" : "notSelected")
      - var link = 1
        while link < links+1
          if ((link === choice) && !showAll)
            - var show = true
          else
            - var show = false
          input(class="link" type="submit", value=link++, name='link', class=show ? "selected" : "notSelected")
